<div class="header container">
  <div class="header-right-area"> 
    {% include 'header-logo' %}
    <div class="header-link-area">
      <div class="top-links-area">
        <div class="top-links-icon">
          <a href="javascript:;" {% if settings.language_enable %}data-translate="header.settings.links"{% endif %}>{{ 'header.settings.links' | t }}</a>
        </div>
        {% section 'header-toplink-menu' %}
      </div>
      <div class="main-link">
        <div class="menu-icon"><a href="javascript:void(0)" title="Menu"><i class="fa fa-bars"></i></a></div>
        <div class="header-wrapper">
          <div class="main-nav wrapper-top-menu">   
            <div class="container">
              <div id="main-top-nav" class="main-top-nav"> 
                {% include 'header-logo-sticky' %}
                <!-- Main Menu -->
                {% include 'main-menu' %} 
                <!-- End Main Menu -->
                <div class="mini-cart">
                  {% include 'header-cart' %} 
                </div>
              </div>
            </div> 
          </div>
        </div> 
      </div>
    </div>
    <div class="switcher-area">
      <div class="search-area"> 
        <a href="javascript:void(0);" class="search-icon"><span><i class="icon-search"></i></span></a>
        {% include 'header-search' %}
      </div>
      <div class="cart-area">
        {% include 'header-setting' %}
        <div class="mini-cart">
          {% include 'header-cart' %} 
        </div>
      </div> 
    </div>
  </div>
</div> 