<a class="twitter-timeline" data-height="300" data-theme="light" href="https://twitter.com/{{settings.twitter_name}}">{{settings.twitter_screen_name}}</a> 
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>