html, 
body.dark, 
body.dark .page,  
.header-container, 
.header .form-search, 
.header-container.type9, 
.header-container.type9 
.top-links-container, 
.header-container.type10 
.header-wrapper, 
.selectize-dropdown, .selectize-dropdown.form-control,
.product-view .box-up-sell >h2 span,
.main-container .products-related h3.title-widget span{
    background-color: #1d2127;
}
.main-container .sidebar .block-nav .block-content,
.main-container .sidebar .block .narrow-by-list dd,
.toolbar .view-mode span.layout-opt span,
.actions .btn-cart,
.main-container .sidebar .sidebar-toogle .block-title .collapse, 
.main-container .sidebar .sidebar-cate-toogle .block-title .collapse,
.product-view .product-options-bottom .add-to-cart-box .input-box input,
.main-container .account-dashboard .my-account .content,
.main-container .checkout-cart .checkout-info .shipping .shipping-form .shipping-calculator-wrapper,
.main-container .checkout-cart .totals .totals-content{
  background-color: transparent;
}
.actions .btn-cart {
  color: #ddd;
}
.bestseller .block-title,
.selectize-dropdown .active,
.selectize-dropdown, .selectize-dropdown.form-control,
.main-container .sidebar .block-nav .block-title,
.main-container .sidebar .block .narrow-by-list dt,
.product-view .product-shop .product-name h2 a,
.sidebar-product .bestseller_product .block-title,
.main-container .products-related h3.title-widget span,
.main-container .account-dashboard h5,
.main-container .account-dashboard .my-address h3, 
.main-container .account-dashboard .my-address h4,
.main-container .wishlist-table th, 
.main-container .cart-table th, 
.main-container .table-wrap th,
.main-container .wishlist-table .product-name .image-comment .product-title, 
.main-container .cart-table .product-name .image-comment .product-title, 
.main-container .table-wrap .product-name .image-comment .product-title,
.main-container .wishlist-table td.unit-price,
.main-container .wishlist-table td.delete .remove-wishlist, 
.main-container .cart-table td.delete .remove-wishlist, 
.main-container .table-wrap td.delete .remove-wishlist,
.main-container .checkout-cart .checkout-info .shipping h2,
.main-container .checkout-cart .totals h2,
.main-container .checkout-cart .checkout-info .shipping h2 a,
.main-container .checkout-cart .checkout-info .shipping .shipping-form .shipping-calculator-wrapper,
.main-container .checkout-cart .totals .totals-content,
.main-container .checkout-cart .totals .totals-content table tbody tr td span.price
{
  color: #fff;
}

.main-section-header .select-language, 
.main-section-header .setting-currency, 
.main-section-header .select-language li a, 
.main-section-header .setting-currency li a,
.header-container .mini-cart .cart-wrapper,
.main-container .sidebar .block-nav .block-title,
.main-container .sidebar .block .narrow-by-list dt,
.category-products .products-grid .item .item-area .product-image-area,
.category-products .products-grid .item .item-area .product-image-area .product-image,
.selectize-dropdown .active,
.product-view .product-img-box .product-img-list .product-image .product-image-gallery,
.product-view .product-img-box .product-img-list .more-views-horizontal .product-image-thumbs .item a,
.product-view .product-tabs > ul li,
.main-container .account-dashboard h5,
.main-container .account-dashboard .my-address h3, 
.main-container .account-dashboard .my-address h4,
.main-container .wishlist-table th, 
.main-container .cart-table th, 
.main-container .table-wrap th,
.main-container .checkout-cart .checkout-info .shipping h2,
.main-container .checkout-cart .totals h2,
.main-container .checkout-cart .cart-table tfoot button,
.main-container .checkout-cart .cart-table tbody tr td.product-qty .items,
.blog_article .item .row .post-image{
  background-color: #384045;
}
div.main-navigation ul.top-navigation .menu-wrap-sub,
.product-view .product-tabs > ul li.active,
.product-view .product-tabs .tab-content,
.main-container .login_content,
.main-container .account-create .content,
.main-container .checkout-cart .cart-table-wrap{
  background-color: #282d36;
}
.header-container .search-area .form-search,
.main-container .sidebar .block-nav .block-content,
.main-container .sidebar .block .narrow-by-list dd,
.main-container .sidebar .block-nav .block-title,
.main-container .sidebar .block .narrow-by-list dt,
.category-products .products-grid .item .item-area .product-image-area,
.product-view .product-img-box .product-img-list .product-image .product-image-gallery,
.product-view .product-img-box .product-img-list .more-views-horizontal .product-image-thumbs .item a,
.product-view .product-options-bottom .add-to-cart-box .input-box input,
.product-view .product-options-bottom .add-to-cart-box .input-box .plus-minus .items i,
.product-view .product-tabs > ul li,
.product-view .product-tabs .tab-content,
.main-container .account-dashboard h5,
.main-container .account-dashboard .my-account .content,
.main-container .account-dashboard .my-address,
.main-container .account-dashboard .my-address h3, 
.main-container .account-dashboard .my-address h4,
.main-container .account-dashboard .my-order p,
.main-container .wishlist-table.table-bordered > thead, 
.main-container .total-table.table-bordered > thead, 
.main-container .cart-table.table-bordered > thead, 
.main-container .table-wrap.table-bordered > thead,
.table-bordered>tbody>tr>td, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>td, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th,
.main-container .login_content,
.main-container .account-create .content,
.main-container .checkout-cart .cart-table-wrap,
.main-container .checkout-cart .checkout-info .shipping h2,
.main-container .checkout-cart .totals h2,
.main-container .checkout-cart .checkout-info .shipping .shipping-form,
.main-container .checkout-cart .totals .totals-content,
.main-container .checkout-cart .cart-table tfoot button,
.main-container .checkout-cart .cart-table tbody tr td.product-qty .items,
.blog_article .item .row .post-image{
  border-color: #384045;
}
.header-container.type1 .search-area .form-search:before,
.product-view .product-shop .short-description,
.product-view .product-shop .middle-product-detail,
.product-view .product-options,
.product-view .product-options-bottom,
.main-container .wishlist-table.table-bordered > tbody > tr > td, 
.main-container .wishlist-table.table-bordered > tbody > tr > th, 
.main-container .wishlist-table.table-bordered > tfoot > tr > td, 
.main-container .wishlist-table.table-bordered > tfoot > tr > th, 
.main-container .total-table.table-bordered > tbody > tr > td, 
.main-container .total-table.table-bordered > tbody > tr > th, 
.main-container .total-table.table-bordered > tfoot > tr > td, 
.main-container .total-table.table-bordered > tfoot > tr > th, 
.main-container .cart-table.table-bordered > tbody > tr > td, 
.main-container .cart-table.table-bordered > tbody > tr > th, 
.main-container .cart-table.table-bordered > tfoot > tr > td, 
.main-container .cart-table.table-bordered > tfoot > tr > th, 
.main-container .table-wrap.table-bordered > tbody > tr > td, 
.main-container .table-wrap.table-bordered > tbody > tr > th, 
.main-container .table-wrap.table-bordered > tfoot > tr > td, 
.main-container .table-wrap.table-bordered > tfoot > tr > th,
.main-container table.full thead,
.main-container table.full tbody tr{
  border-bottom-color: #384045;
}
.main-container .wishlist-table.table-bordered > tbody > tr > td, 
.main-container .wishlist-table.table-bordered > tbody > tr > th, 
.main-container .wishlist-table.table-bordered > tfoot > tr > td, 
.main-container .wishlist-table.table-bordered > tfoot > tr > th, 
.main-container .total-table.table-bordered > tbody > tr > td, 
.main-container .total-table.table-bordered > tbody > tr > th, 
.main-container .total-table.table-bordered > tfoot > tr > td, 
.main-container .total-table.table-bordered > tfoot > tr > th, 
.main-container .cart-table.table-bordered > tbody > tr > td, 
.main-container .cart-table.table-bordered > tbody > tr > th, 
.main-container .cart-table.table-bordered > tfoot > tr > td, 
.main-container .cart-table.table-bordered > tfoot > tr > th, 
.main-container .table-wrap.table-bordered > tbody > tr > td, 
.main-container .table-wrap.table-bordered > tbody > tr > th, 
.main-container .table-wrap.table-bordered > tfoot > tr > td, 
.main-container .table-wrap.table-bordered > tfoot > tr > th{
  border-right-color: #384045;
}
.product-view .product-tabs .tab-content {
  box-shadow: 0 1px 2px #384045;
}